<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="MindbodyAPI">
            <directory>tests/coverage</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="MindbodySourceName" value="" />
        <env name="MindbodyKey" value="" />
        <env name="MindbodySiteIDs" value="" />
    </php>
</phpunit>
